.footer__column-link {
  display: inline-flex;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.footer__column-link:hover {
  opacity: 40%;
}
